@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
<div  >
    <ul id="top-links"  class="SomeLi navbar-nav navbar-right">
        <li style="margin-bottom:5px;">
            @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "padding-top: 0; padding-bottom: 0;" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="padding-top:0;padding-bottom:0;">Выйти</a></li>
    </ul>
</div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",style = "padding-top: 0; padding-bottom: 0;" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "padding-top: 0; padding-bottom: 0;" })</li>
    </ul>
}
