<div id="menu" class="main-menu">
    <div class="nav-responsive"><span>Menu</span><div class="expandable"></div></div>

    <ul class="nav navbar-nav main-navigation treeview">
        <li class="top_level home_first"><a href=@Url.Content("Home/Index")>Home</a></li>

        <li class="top_level dropdown">
            <a href="index1647.html?route=product/category&amp;path=25">О компании</a>

            <div class="dropdown-menu megamenu column1">
                <div class="dropdown-inner">
                    <ul class="list-unstyled childs_1">

                        <li><a href="indexf3db.html?route=product/category&amp;path=25_31">Миссия</a></li>
                        <li><a href="indexc219.html?route=product/category&amp;path=25_29">Гарантии и обязательства</a></li>
                        <li><a href="indexe177.html?route=product/category&amp;path=25_28">Карьера</a></li>
                        <li><a href="index68a7.html?route=product/category&amp;path=25_30">Информация и документация</a></li>
                    </ul>
                </div>
            </div>

        </li>
        <li class="top_level dropdown">
            <a href="index98dc.html?route=product/category&amp;path=20">Получение и оплата</a>

            <div class="dropdown-menu megamenu column4">
                <div class="dropdown-inner">
                    <ul class="list-unstyled childs_1">
                        <!-- 2 Level Sub Categories START -->
                        <li class="dropdown">
                            <a href="indexbe4c.html?route=product/category&amp;path=20_62">Получение</a>

                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled childs_2">
                                        <li><a href="indexbfb0.html?route=product/category&amp;path=20_62_73">Пункты самовывоза</a></li>
                                        <li><a href="index7de9.html?route=product/category&amp;path=20_62_72">Доставка</a></li>
                                        <li><a href="indexd382.html?route=product/category&amp;path=20_62_75">Почта РК</a></li>
                                        <li><a href="index2cd0.html?route=product/category&amp;path=20_62_76">Транспортные компании</a></li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <!-- 2 Level Sub Categories END -->

                    </ul>
                    <ul class="list-unstyled childs_1">
                        <!-- 2 Level Sub Categories START -->
                        <li class="dropdown">
                            <a href="indexd9fe.html?route=product/category&amp;path=20_26">Оплата</a>

                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled childs_2">
                                        <li><a href="index7ac8.html?route=product/category&amp;path=20_26_64">Наличный расчет</a></li>
                                        <li><a href="indexccf3.html?route=product/category&amp;path=20_26_67">Банковская карта</a></li>
                                        <li><a href="indexee11.html?route=product/category&amp;path=20_26_65">Онлайн оплата</a></li>
                                        <li><a href="indexc052.html?route=product/category&amp;path=20_26_66">Банковский перевод</a></li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <!-- 2 Level Sub Categories END -->

                    </ul>

                </div>
            </div>

        </li>
        <li class="top_level dropdown">
            <a href="index70a9.html?route=product/category&amp;path=57">Компаниям</a>
        </li>

        <li class="top_level dropdown">
            <a href="index70a9.html?route=product/category&amp;path=57">Новости</a>
        </li>

        <li class="top_level dropdown">
            <a href="index70a9.html?route=product/category&amp;path=57">Контакты</a>
        </li>

        <li class="top_level dropdown">
            <a href="index70a9.html?route=product/category&amp;path=57">Вход</a>

            <div class="dropdown-menu megamenu column1">
                <div class="dropdown-inner">
                    <ul class="list-unstyled childs_1">
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>

                    </ul>
                </div>
                
            </div>
        </li>

    </ul>

</div>
